{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-http-equiv="X-UA-Compatible"
    content="ie-edge">
    <link href="{% static 'style2.css' %}" rel="stylesheet">
    <link href="{% static 'bookpage.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BookFace</title>
  </head>
  <body class="full-height-grow">
    <div class="container">
        <header class="main-header">
            <a href="{% url 'home' %}" class="brand-logo">
                <img src="{% static 'Logo.png' %}">
              <div class="brand-logo-name">BookFace</div>
            </a>
            <nav class="main-nav">
              <ul>
                <li class="input2">
                  <ul>
                    <li><input class="search" type="text" placeholder="Search.." name="search"></li>
                  </ul>
                </li>
                <li><a href="{% url 'bookpage_url' %}">Books</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'checkout_url' %}">Cart</a></li>
                <li><a href="{% url 'profile_url' %}">MyAccount</a></li>
                <li><a href="{% url 'logout_url' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login_url' %}">Cart</a></li>
            <li><a href="{% url 'login_url' %}">MyAccount</a></li>
            <li><a href="{% url 'login_url' %}">Login</a></li>
                <li><a href="{% url 'register_url' %}">Sign Up</a></li>
                {% endif %}
              </ul>
            </nav>
          </header>

      <div class="whole-img">
        <h2>History Genre</h2>
      </div>
      <br>
      <div class="wrapping">
        <h1>Genres</h1>
        <div class="img-area">
          <div class="one-img"><a href="{% url 'romancepage_url' %}"> <i class="fa fa-heart"></i></a>
          <p>Romance</p>
          </div>
          <div class="one-img"><a href="{% url 'historypage_url' %}"> <i class="fa fa-university"></i></a>
          <p>History</p>
          </div>
          <div class="one-img"><a href="{% url 'mysterypage_url' %}"> <i class="fa fa-user-secret"></i></a>
          <p>Mystery</p>
          </div>
          <div class="one-img"><a href="{% url 'fantasypage_url' %}"> <i class="fa fa-shield"></i></a>
          <p>Fantasy</p>
          </div>
        </div>
      </div>
      {% for allbook in allbooks %}
      {% if allbook.category == "History" %}
      <div class="rows">
        <div class="col-halfs">
             <img src="{{baseUrl}}/{{allbook.img}}" style="width:300px;height:400px;margin-left:200px;">

        </div>
        <div class="col-halfs">
      <section class="home-main-section">
      <div class="call-to-action">
        <h1 class="title">{{allbook.title}} </h1>
        <span class="subtitle">{{allbook.author}}</span>
        <span class="subtitle">${{allbook.price}}</span>
        <a href="{% url 'go_to_page' allbook.title %}" class="btn"> View Book Details</a>
        {% if user.is_authenticated %}
            <a href="{% url 'add_to_cart' allbook.title %}" class="btn"> Add To Cart</a>
        {% else %}
        <a href="{% url 'login_url' %}" class="btn">Add Book</a>
      {% endif %}
      </div>
      </section>
      </div>
      </div>
      <hr>
      {% endif %}
      {% endfor %}

    </div>

    <footer class="main-footer">
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li><a href='#'>About Us</a></li>
            <li><a href='#'>Contact Us</a></li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <ul>
            <li>
              <a href='#' class="social-link">
                <img src="twitter.svg">
                Twitter
              </a>
            </li>
            <li>
              <a href='#' class="social-link"><img src="youtube.svg">Youtube</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>