{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-http-equiv="X-UA-Compatible"
    content="ie-edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'style2.css' %}" rel="stylesheet">
    <link href="{% static 'index3.css' %}" rel="stylesheet">
    <title>BookFace</title>
  </head>
  <body class="full-height-grow">
    <div class="container">
      <header class="main-header">
        <a href="{% url 'home' %}" class="brand-logo">
          <img src="{% static 'Logo.png' %}">
          <div class="brand-logo-name">BookFace</div>
        </a>
        <nav class="main-nav">
          <ul>
            <li class="input2">
              <ul>
                <li><input class="search" type="text" placeholder="Search.." name="search"></li>
              </ul>
            </li>
            <li><a href="bookpage/">Books</a></li>
            {% if user.is_authenticated %}
            <li><a href="checkout/">Cart</a></li>
            <li><a href="profile/">MyAccount</a></li>
            <li><a href="logout/">Logout</a></li>
            {% else %}
            <li><a href="login/">Cart</a></li>
              <li><a href="login/">MyAccount</a></li>
              <li><a href="login/">Login</a></li>
              <li><a href="register/">Sign Up</a></li>
            {% endif %}
          </ul>
        </nav>
      </header>
    </div>
      <section class="home-main-section">
        <div class="whole-img">
          <h2>Welcome To BookFace </h2>
        </div>
        <div class="wrapping">
          <h1>Genres</h1>
          <div class="img-area">
            <div class="one-img"><a href="romancepage/"> <i class="fa fa-heart"></i></a>
            <p>Romance</p>
            </div>
            <div class="one-img"><a href="historypage/"> <i class="fa fa-university"></i></a>
            <p>History</p>
            </div>
            <div class="one-img"><a href="mysterypage/"> <i class="fa fa-user-secret"></i></a>
            <p>Mystery</p>
            </div>
            <div class="one-img"><a href="fantasypage/"> <i class="fa fa-shield"></i></a>
            <p>Fantasy</p>
            </div>
          </div>
        </div>
        <div class="wrapping">
          <h1><i class="fa fa-fire" style="color:#F59300;"></i> Newest Books <i class="fa fa-fire" style="color:#F59300;"></i></h1>
          <div class="img-area">
            {% for allbook in allbooks %}
            {% if allbook.bookid <= 5 %}
            <div class="container4">
              <div class="one-img"> <a href="{% url 'go_to_page' allbook.title %}"> <img src="{{baseUrl}}/{{allbook.img}}" alt="" style="width:300px;height:400px;"></a>
                <div class="overlay">{{allbook.title}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
          </div>
        </div>

        {% if user.is_authenticated %}
          {% for info in infos %}
            {% if info.email == user.email %}
              {%if info.promotion is True %}
              <div class="wrapping">
                <div class="img-area">
                  {% for promo in promos %}
                    <div class="container4">
                     <div class="Promotion-display">
                       <h3>{{promo.discount}}% OFF Order</h3>
                       <h4>Promo Code: {{promo.promoCode}}</h4>
                   </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
        <div class="wrapping">
          <h1><i class="fa fa-fire" style="color:#F59300;"></i> Hottest Books <i class="fa fa-fire" style="color:#F59300;"></i></h1>
          <div class="img-area">
            {% for allbook in allbooks %}
            {% if allbook.bookid > 5 %}
            <div class="container4">
              <div class="one-img"> <a href="{% url 'go_to_page' allbook.title %}"> <img src="{{baseUrl}}/{{allbook.img}}" alt="" style="width:300px;height:400px;"></a>
                <div class="overlay">{{allbook.title}}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
    <div class="home-page-circle-1"></div>
    <div class="home-page-circle-2"></div>
    <div class="home-page-circle-3"></div>
    <div class="home-page-circle-4"></div>
    <footer class="main-footer">
      <div class="container">
        <nav class="footer-nav">
          <ul>
            <li><a href='#'>About Us</a></li>
            <li><a href='#'>Contact Us</a></li>
          </ul>
        </nav>
        <nav class="footer-nav">
          <ul>
            <li>
              <a href='#' class="social-link"><img src="{% static 'twitter.svg' %}">Twitter</a>
            </li>
            <li>
              <a href='#' class="social-link"><img src="{% static 'youtube.svg' %}">Youtube</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>